body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 9fr;
}

#header {
    width: 100%;
    height: 100%;
    background-color: #FCF5E5;
}

#content {
    background-color: #E2DFD2;
}

ul li {
    display: inline-flex;
    padding: 0.5em 1em;
}

a {
    text-decoration: none;
    align-self: center;
}

#homeLink:hover {
    cursor: pointer;
}

#main-img {
    width: 100vw;
    height: 30vh;
}

#menu {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#menu-icon {
    margin-right: 2%;
    width: 5%;
    height: auto;
}

#hours {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#art {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#end-img {
    width: 50%;
    height: auto;
}